/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Rotate 
2.0 Border Radius
3.0 Transition Style
4.0 Box Shadow
5.0 Typography Fonts
6.0 Grid Maker
6.0 Translate
8.0 Placeholder Color
9.0 Triangle
10.0 Keyframes
--------------------------------------------------------------*/
/* 1.0 Rotate*/
@mixin rotate($deg) {
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
}

/* 2.0 Border Radius*/
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
}

/* Box Shadow */
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

/* 3.0 Transition Style*/
@mixin transition($transition-property, $transition-duration, $timing-function) {
  -webkit-transition: $transition-property $transition-duration $timing-function;
  transition: $transition-property $transition-duration $timing-function;
}

/* 6.0 Grid Maker*/
@mixin grid($cols, $r-mgn, $b-mgn) {
  float: left;
  margin-right: $r-mgn;
  margin-bottom: $b-mgn;
  width: ((100% - (($cols - 1) * $r-mgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}

/* 7.0 Translate X & Y value*/
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}

/* 8.0 Placeholder Color*/
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $color;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $color;
  }
}

/* 9.0 Triangle*/

/* 10.0 Keyframes */
@mixin keyframes($keyframe-name) {
  @-webkit-keyframes #{$keyframe-name} {
    @content;
  }
  @-moz-keyframes #{$keyframe-name} {
    @content;
  }
  @-ms-keyframes #{$keyframe-name} {
    @content;
  }
  @keyframes #{$keyframe-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin focusState() {
  border: 2px solid var(--theme-color);
  // box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  //ackground-color: var(--text-color-normal) !important;
  outline: 2px solid var(--theme-color);
}
