.site-header {
  background-color: var(--body-bg);
  transition: left var(--transition-speed);
  &__wrap {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    transition: all var(--transition-speed);
    font-weight: bold;

    &__left {
      width: 250px;
      a {
        width: 100%;
        &:focus,
        &:focus-visible {
          img {
            @include focusState();
          }
        }
        img {
          width: 100%;
          height: auto;
          max-height: 100px;
        }
      }
      .site-logo {
        max-width: 130px;
        display: inline-block;
        color: var(--text-color-normal);
        font-size: $font-size-lg + 6px;
        color: var(--theme-color);
        &:hover {
          color: var(--theme-color);
          text-decoration: none;
        }
      }
    }
    &__right {
      align-items: center;
    }
  }
  [data-nav="sticky"] &--small {
    border-bottom: 1px solid var(--border-color);
    .site-header__wrap {
      padding: 0.5rem 0;
      .site-logo {
        transform: scale(0.8);
      }
    }
  }
}
[data-nav="sticky"] .site-header {
  width: 100%;
  background-color: var(--body-bg);
  transition: left var(--transition-speed);
  &--small {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  }
}

.link-item {
  margin-left: 1rem;
  a[class*="btn"] {
    font-size: 0.875rem;
    background-color: var(--light-bg-color);
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    transition: 0.3s;
    &:hover {
      background-color: var(--theme-color);
      text-decoration: none;
      color: var(--white);
    }
  }
  a {
    color: var(--text-color-normal);
    display: block;
    &.btn-primary {
      background: var(--theme-color);
      color: var(--white);
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &--search {
    position: relative;
    a {
      width: 20px;
      display: inline-block;
      width: 20px;
      svg {
        fill: var(--text-color-normal);
      }
      &:hover {
        svg {
          fill: var(--theme-color);
        }
      }
    }
    form {
      position: absolute;
      top: 33px;
      right: calc(100% - 24px);
      visibility: hidden;
      .search-input {
        width: 0;
        height: 0;
        font-size: 16px;
        transition: width 0.3s ease;
        border: none;
        border-bottom: 1px solid var(--theme-color);
        transition: all 0.3s ease;
        &:focus {
          border-top: 1px solid var(--theme-color);
          border-left: 1px solid var(--theme-color);
          border-right: 1px solid var(--theme-color);
        }
      }
      .search-input.show {
        width: 280px;
        height: 30px;
        padding: 20px 30px;
      }
    }
    form.show {
      visibility: visible !important;s
    }
  }
  &--bg {
    background: var(--light-bg-color);
  }
}
