input {
	background: var(--body-bg);
  border: 1px solid var(--border-color);
  box-shadow: none;
  height: 64px;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0 2rem;
  color: var(--text-color-normal);
}